*, *::before, *::after{
    box-sizing: border-box;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(71, 69, 69, 0.459);
}

.container{
    margin-top: 5px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 60px 1.2fr 2.5fr 1fr;
    box-shadow: 0 8px 5px -5px rgba(143, 143, 143, 0.171);
}

.logoImage{
    margin-top: 5px;
    margin-left: 8px;
    grid-column: 1;
    width: 30px;
    height: 40px;
}

.customInput{
    text-align: center;
    margin: 5px 5px 0 0;
    width: 90%;
    height: 40px;
    position: relative;
    border:0.5px solid rgba(143, 143, 143, 0.171);
}

.inputImage{
    margin-left: -30px;
    margin-top: 15px;
    position: absolute;
}

.item3{
    position: relative;
    margin: 8px 0 0 40%;
}

.customImage{
    margin-top: 5px;
    width: 26px;
    height: 26px;
    margin-right: 25px;
}

.divBoxNotification1{
    position: absolute;
    background-color: rgba(163, 163, 163, 0.315);
    margin-left: 42px;
    margin-top: -39px;
    border-radius: 50%;
    width: 45px;
    height:45px;
}

.divBoxNotification1:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.divBoxNotification2{
    position: absolute;
    background-color: rgba(163, 163, 163, 0.315);
    border-radius: 50%;
    width: 45px;
    height:45px;
    margin-left: 92px;
    margin-top: -39px;
}

.divBoxNotification2:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.counterNotifications1{
    position: absolute;
    top: -10px;
    left: 65px;
    border-radius: 10px;
    width: 27px;
    height:19px;
    background-color: #0381be;
    text-align: center;
    color: #fff;

    p{
        margin-top: 2px;
    }

}

.counterNotifications2{
    position: absolute;
    top: -10px;
    left: 115px;
    border-radius: 10px;
    width: 27px;
    height:19px;
    background-color: #0381be;
    text-align: center;
    color: #fff;

    p{
        margin-top: 2px;
    }
}