hr{
    border-color: rgba(143, 143, 143, 0.171);
}

.customParagraph3{
    font-family: sans-serif;
    white-space: nowrap;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: 60px;
}


.customImage1{
    margin-top: 6px;
    margin-left: 20px;
}

.customImageUser{
    margin-top: 8px;
    margin-left: 12px;
}

.divCustom{
    margin-top: 10px;
    margin-left: 220px;
    height: 30px;
    width: 40px;
    border: 2px solid rgba(143, 143, 143, 0.6);;
    border-radius: 5px;
    transition: background-color .5s;
}

.divCustom:hover{
    background-color: #e7e6e6;
}

.customParagraph4{
    margin-top: 20px;
    margin-left: 60px;
}

.customImage2{
    margin-top: 20px;
    margin-left: 20px;
    fill: #000;
}

.customImageUser1{
    margin-top: 7px;
    margin-left: 12px;
}

.divCustom1{
    margin-top: 12px;
    margin-left: 220px;
    height: 30px;
    width: 40px;
    border: 2px solid rgba(143, 143, 143, 0.6);;
    border-radius: 5px;
    transition: background-color .5s;
}

.divCustom1:hover{
    background-color: #e7e6e6;
}